@import "_colors.scss";
@import "Image.scss";

.dateContainer {
  align-items: center;
  justify-content: center;
  display: flex;

  .dateStyle {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0.6rem;
  }
}

.titlePost {
  font-size: 22px;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.underlinePost {
  background-color: $blue11b5f5;
  height: 3px;
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-bottom: 0.8rem;
}

.imageContainer {
  @include next-image-style;
}

.contentPost {
  padding-top: 0.5rem;
  font-size: 18px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.buttonContainer {
  padding-top: 2rem;
  padding-bottom: 4rem;

  button:hover {
    background-color: $blue11b5f5;
    color: white;
  }
}

.buttonStyle {
  width: 100%;
  height: 2.6rem;
  background-color: white;
  color: $blue11b5f5;
  border: 1px solid $blue11b5f5;
  transition-duration: 0.2s;
  font-weight: 600;
  cursor: pointer;
}
