html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.MuiPagination-root button.Mui-selected {
  background-color: #11b5f5;
  color: white;
  border: none;
}

.MuiPagination-root button.Mui-selected:hover {
  background-color: #68caf1;
}

.MuiPagination-ul {
  gap: 5px;
}
