html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  border-left: 4px solid #11b5f5;
  border-bottom: 1px solid #11b5f5;
  padding: 5px 10px 5px 10px;
  line-height: 1.5;
  font-size: 1.2rem;
}

h5,
pre {
  background-color: #f4f2f0;
  padding: 20px;
  font-weight: normal;
  font-family: Consolas, Menlo, Courier, monospace;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
