@import "../components//styles/_colors.scss";

.rootContainer {
  padding: 2rem 8rem;
  display: flex;
  justify-content: center;

  .container {
    width: 1000px;
    display: flex;
    gap: 4rem;
  }
}

.leftContainer {
  flex: 60%;

  .paginationContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 20rem;
  }

  .resultSearchContainer {
    background-color: $blue11b5f5;
    padding: 1.2rem 0.7rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}

.rightContainer {
  flex: 40%;
}

.MuiPagination-ul li {
  background-color: red;
}
