@import "../components//styles/_colors.scss";

.rootContainer {
  display: block;
  justify-content: center;

  .containerWrapper {
    width: 920px;
    margin: 0 auto;
    padding-top: 1.5rem;

    .container {
      display: flex;
      gap: 4rem;
    }
  }
}

.leftContainer {
  flex: 70%;
  padding-bottom: 4rem;

  .paginationContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .resultSearchContainer {
    background-color: $blue11b5f5;
    padding: 1.2rem 0.7rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
}

.rightContainer {
  flex: 30%;
}
